.header {
	background-image: url("../images/header.jpg");
	background-size: contain;
	height: 175px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.footer {
  background-image: url("../images/footer.jpg");
	background-size: contain;
	height: 175px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

table {
  border: 0px;
  margin-left: 75px;
}
